body {
    background-color: #0b0b14;
    color: #fff;
}

h1, h2 {
    font-family: 'Arial', sans-serif;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

pre {
    font-size: 1rem;
    font-family: 'Courier New', monospace;
    overflow-x: auto;
}

.btn-outline-light {
    border-color: #fff;
    color: #fff;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #000;
}
